@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 252 248 255;
  --on-background: 27 27 36;
  --surface: 250 248 255;
  --surface-dim: 10 217 244;
  --surface-bright: 250 248 255;
  --surface-container-lowest: 255 255 255;
  --surface-container-low: 242 243 255;
  --surface-container: 238 240 255;
  --surface-container-high: 232 234 255;
  --surface-container-highest: 226 228 255;
  --surface-variant: 228 225 238;
  --on-surface: 26 27 33;
  --on-surface-variant: 68 70 79;
  --inverse-surface: 48 47 57;
  --inverse-on-surface: 243 239 252;
  --outline: 117 119 128;
  --outline-variant: 197 198 208;
  --surface-tint: 77 68 227;
  --primary: 79 70 229;
  --on-primary: 255 255 255;
  --primary-container: 224 224 255;
  --on-primary-container: 0 0 110;
  --inverse-primary: 195 192 255;
  --secondary: 34 197 94;
  --on-secondary: 255 255 255;
  --secondary-container: 173 255 185;
  --on-secondary-container: 0 33 6;
  --tertiary: 244 63 94;
  --on-tertiary: 255 255 255;
  --tertiary-container: 255 218 218;
  --on-tertiary-container: 65 0 10;
  --error: 186 26 26;
  --on-error: 255 255 255;
  --error-container: 255 218 214;
  --on-error-container: 65 0 2;
  --primary-fixed: 226 223 255;
  --primary-fixed-dim: 195 192 255;
  --on-primary-fixed: 15 0 105;
  --on-primary-fixed-variant: 51 35 204;
  --secondary-fixed: 107 255 143;
  --secondary-fixed-dim: 74 225 118;
  --on-secondary-fixed: 0 33 9;
  --on-secondary-fixed-variant: 0 83 33;
  --tertiary-fixed: 255 218 219;
  --tertiary-fixed-dim: 255 178 183;
  --on-tertiary-fixed: 64 0 13;
  --on-tertiary-fixed-variant: 146 0 42;
}

.dark {
  --background: 11 19 38;
  --on-background: 218 226 253;
  --surface: 11 19 38;
  --surface-dim: 11 19 38;
  --surface-bright: 49 57 77;
  --surface-container-lowest: 6 14 32;
  --surface-container-low: 19 27 46;
  --surface-container: 23 31 51;
  --surface-container-high: 34 42 61;
  --surface-container-highest: 45 52 73;
  --surface-variant: 45 52 73;
  --on-surface: 218 226 253;
  --on-surface-variant: 199 196 216;
  --inverse-surface: 218 226 253;
  --inverse-on-surface: 40 48 68;
  --outline: 145 143 161;
  --outline-variant: 70 69 85;
  --surface-tint: 195 192 255;
  --primary: 195 192 255;
  --on-primary: 29 0 165;
  --primary-container: 79 70 229;
  --on-primary-container: 218 215 255;
  --inverse-primary: 77 68 227;
  --secondary: 78 222 163;
  --on-secondary: 0 56 36;
  --secondary-container: 0 165 114;
  --on-secondary-container: 0 49 31;
  --tertiary: 255 178 185;
  --on-tertiary: 103 0 31;
  --tertiary-container: 171 53 75;
  --on-tertiary-container: 255 208 211;
  --error: 255 180 171;
  --on-error: 105 0 5;
  --error-container: 147 0 10;
  --on-error-container: 255 218 214;
  --primary-fixed: 226 223 255;
  --primary-fixed-dim: 195 192 255;
  --on-primary-fixed: 15 0 105;
  --on-primary-fixed-variant: 51 35 204;
  --secondary-fixed: 111 251 190;
  --secondary-fixed-dim: 78 222 163;
  --on-secondary-fixed: 0 33 19;
  --on-secondary-fixed-variant: 0 82 54;
  --tertiary-fixed: 255 218 220;
  --tertiary-fixed-dim: 255 178 185;
  --on-tertiary-fixed: 64 0 16;
  --on-tertiary-fixed-variant: 137 25 51;
}
